<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
</head>
<body>
<h1>Hello World</h1>

<div class="row">
  <div class="col-md-12">
    <div id="sayHello">
      <div>{{message}}</div>
      <div>
        <button v-on:click="buttonClick">Click Me</button>
      </div>
    </div>
  </div>
</div>
<script src="dist/main.js"></script>

<div>
</div>
</body>
</html>
