<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />

  @*Libs*@
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

</head>
<body>
  <div>
    @RenderBody()
  </div>
  <script src="bundle.js"></script>
</body>
</html>
